services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    restart: unless-stopped
    volumes:
      - ./gluetun:/gluetun
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=Europe/Warsaw
      - VPN_SERVICE_PROVIDER=nordvpn
      - OPENVPN_USER=${NORD_USER}
      - OPENVPN_PASSWORD=${NORD_PASS}
      - SERVER_COUNTRIES=Switzerland
      - SERVER_CATEGORIES=p2p
      - ROUTE_LAN_NETWORKS=true
      - DNS=1.1.1.1,9.9.9.9
      - OPENVPN_PROTOCOL=udp
      # UI Ports used by services behind VPN
      - QBITTORRENT_PORT=8080
      - PROWLARR_PORT=9696
      - SONARR_PORT=8989
      - RADARR_PORT=7878

    ports:
      - "8080:8080" # qBittorrent WebUI
      - "9696:9696" # Prowlarr WebUI
      - "8989:8989" # Sonarr WebUI
      - "7878:7878" # Radarr WebUI

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
      - WEBUI_PORT=8080
    volumes:
      - ./qbittorrent:/config
      - /mnt/server1:/mnt/server1
      - /mnt/server2:/mnt/server2
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - ./prowlarr:/config
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - ./sonarr:/config
      - /mnt/server1:/mnt/server1
      - /mnt/server2:/mnt/server2
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - ./radarr:/config
      - /mnt/server1:/mnt/server1
      - /mnt/server2:/mnt/server2
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    ports:
      - "5055:5055"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - ./overseerr:/config
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
